@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
}

.circle {
  --circle-size: 40px;
  position: fixed;
  height: var(--circle-size);
  width: var(--circle-size);
  border: 1px solid white;
  border-radius: 100%;
  top: calc(var(--circle-size) / 2 * -1);
  left: calc(var(--circle-size) / 2 * -1);
  pointer-events: none;
  z-index: 1000;
}

.menu_scale {
  width: auto;
  scale: 0.5;
}

.line_scale {
  width: auto;
  scale: 2.5;
}

.bg_blur {
  background: rgba(240, 240, 240, 0.5);
  backdrop-filter: blur(15px);
}

.border_blur_1 {
  box-shadow: 0px 0px 40px 40px #f5ce67;
}

.border_blur_2 {
  box-shadow: 0px 0px 40px 40px #ff8e8e;
}

.border_blur_3 {
  box-shadow: 0px 0px 40px 40px #95cbea;
}

.border_blur_4 {
  box-shadow: 0px 0px 40px 40px #85f5c6;
}

.border_blur_5 {
  box-shadow: 0px 0px 40px 40px #f371d7;
}

.spacing_5 {
  word-spacing: 5px;
}

